<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alredapp.randomthings</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryce Hamrick</string>
	<key>description</key>
	<string>Generates random things</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Generated by Random Things</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rand</string>
				<key>subtext</key>
				<string>rand [str|wrd|int|pwd] [length]</string>
				<key>text</key>
				<string>Random Things</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# Read full query as a single string
QUERY="{query}"

# Split query into an array
set -- $QUERY

# Ensure at least one argument is provided
if [ -z "$1" ]; then
  echo "Usage: rand {int|wrd|str|pwd} [length]"
  exit 1
fi

# Get the first argument as the type
TYPE="$1"
# Get the second argument as the length (if provided)
LENGTH="${2:-}"

case "$TYPE" in
  int)
    MAX_DIGITS=${LENGTH:-5} # Default to 5-digit random number
  
    # Define the min and max values for the given number of digits
    MIN=$((10**(MAX_DIGITS-1)))  # Smallest number with MAX_DIGITS digits
    MAX=$((10**MAX_DIGITS - 1))  # Largest number with MAX_DIGITS digits
  
    # Generate a random number in the correct range
    RAND_NUM=$(( RANDOM % (MAX - MIN + 1) + MIN ))
  
    echo "$RAND_NUM"
    ;;

  wrd)
    WORDFILE="/usr/share/dict/words"
    RANDOM=$$;
    lines=$(wc -l &lt; "$WORDFILE")
    rnum=$(( RANDOM % lines + 1 ))
    sed -n "${rnum}p" "$WORDFILE"
    ;;

  str)
    CHAR_COUNT="${LENGTH:-8}" # Default to 8 characters
    head /dev/urandom | LC_CTYPE=C tr -dc 'A-Za-z0-9' | head -c "$CHAR_COUNT"
    echo
    ;;

  pwd)
    CHAR_COUNT="${LENGTH:-13}" # Default to 13 characters
    head /dev/urandom | LC_ALL=C tr -dc 'A-Za-z0-9!"#$%&amp;'\''()*+,-./:;&lt;=&gt;?@[\]^_`{|}~' | head -c "$CHAR_COUNT"
    echo
    ;;

  *)
    echo "Usage: rand {int|wrd|str|pwd} [length]"
    exit 1
    ;;
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</key>
		<dict>
			<key>xpos</key>
			<real>840</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://bhamrick.com/</string>
</dict>
</plist>
