<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alredapp.randomthings</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0ACAFA7E-2918-466F-88C0-B60E1F8CC59B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D115BDA-E3EA-472F-894A-5698668568A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56ACF8EA-DCF2-423C-8F19-B6B452250C3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20DFF407-0D1E-4AC3-B996-4EB04EC296C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ACAFA7E-2918-466F-88C0-B60E1F8CC59B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3929F9E5-8688-4473-A952-53CA8A167642</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D115BDA-E3EA-472F-894A-5698668568A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20DFF407-0D1E-4AC3-B996-4EB04EC296C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6BD2A0CF-D095-4FB9-B4BE-092F6FB6D16B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3929F9E5-8688-4473-A952-53CA8A167642</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56ACF8EA-DCF2-423C-8F19-B6B452250C3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BD2A0CF-D095-4FB9-B4BE-092F6FB6D16B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC35C690-3F6D-45BE-BF1D-141CCB12EE91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC35C690-3F6D-45BE-BF1D-141CCB12EE91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryce Hamrick</string>
	<key>description</key>
	<string>Generates random things</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $RANDOM</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^int</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3929F9E5-8688-4473-A952-53CA8A167642</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rand</string>
				<key>subtext</key>
				<string>rand [str|wrd|int|pwd]</string>
				<key>text</key>
				<string>Random Things</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
WORDFILE=/usr/share/dict/words
# seed random from pid
RANDOM=$$;
# using cat means wc outputs only a number, not number followed by filename
lines=$(cat $WORDFILE  | wc -l);
rnum=$((RANDOM*RANDOM%$lines+1));
sed -n "$rnum p" $WORDFILE;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>56ACF8EA-DCF2-423C-8F19-B6B452250C3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Generated by Random Things</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^wrd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1D115BDA-E3EA-472F-894A-5698668568A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
head /dev/urandom | LC_CTYPE=C tr -dc A-Za-z0-9 | head -c 8</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0ACAFA7E-2918-466F-88C0-B60E1F8CC59B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^str</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>20DFF407-0D1E-4AC3-B996-4EB04EC296C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
LC_ALL=C tr -dc 'A-Za-z0-9!"#$%&amp;'\''()*+,-./:;&lt;=&gt;?@[\]^_`{|}~' &lt;/dev/urandom | head -c 13</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC35C690-3F6D-45BE-BF1D-141CCB12EE91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^pwd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6BD2A0CF-D095-4FB9-B4BE-092F6FB6D16B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0ACAFA7E-2918-466F-88C0-B60E1F8CC59B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>0C8DA8CB-D2AD-4384-BD73-A2BE6E3947FD</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1D115BDA-E3EA-472F-894A-5698668568A4</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>20DFF407-0D1E-4AC3-B996-4EB04EC296C6</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>2D0CBEF2-7E8F-47B5-BD1D-3DC43C8D7793</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>3929F9E5-8688-4473-A952-53CA8A167642</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>51B2CE69-9C0F-4E65-80F4-3D0B8E7DA7B4</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>5335E8EF-8E92-4BDF-BDDB-62A0FD7AF815</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>56ACF8EA-DCF2-423C-8F19-B6B452250C3E</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6BD2A0CF-D095-4FB9-B4BE-092F6FB6D16B</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>CC35C690-3F6D-45BE-BF1D-141CCB12EE91</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string>https://bhamrick.com/</string>
</dict>
</plist>
