<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bhamrick.call</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>46CE6AD8-BCAA-4C06-A566-6A198A8E989D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A62BE8F6-E90E-43EB-9AC4-914ADD77E76A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A62BE8F6-E90E-43EB-9AC4-914ADD77E76A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C99CA93-FC95-4530-B7EE-A9535FE7C160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryce Hamrick</string>
	<key>description</key>
	<string>Call using default call handler or WhatsApp</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Call</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>call</string>
				<key>subtext</key>
				<string>Call with default tel: handler</string>
				<key>text</key>
				<string>Call</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>46CE6AD8-BCAA-4C06-A566-6A198A8E989D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>raw=$@
nums=$(tr -dc '0-9' &lt;&lt;&lt; $raw)
if [[ $1 = wa* ]]
then
  open "https://wa.me/$nums"
else
  open "tel:$nums"
fi

echo $nums</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A62BE8F6-E90E-43EB-9AC4-914ADD77E76A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1C99CA93-FC95-4530-B7EE-A9535FE7C160</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Calls using the default call handler OR will launch WhatsApp if the keyword wa is used before the entered number.</string>
	<key>uidata</key>
	<dict>
		<key>1C99CA93-FC95-4530-B7EE-A9535FE7C160</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>46CE6AD8-BCAA-4C06-A566-6A198A8E989D</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A62BE8F6-E90E-43EB-9AC4-914ADD77E76A</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://bhamrick.com/</string>
</dict>
</plist>
